.footer{
    border-top: 1px solid lightslategrey;
    bottom: 0;
    left: 0;
    height: 35px;
    position: fixed;
    width: 100%;
    padding: 10px;
    background-color: black;
}
.footer-p{
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.notification {
    background-color: black;
    color: white;
    visibility: hidden;
    min-width: 250px;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    font-size: 17px;
    transform: translateX(-50%);
}

.notification.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

